.panel-body {
    color: white;
    height: 90%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.panel-heading {
    padding: 0.8rem 1rem;
    border-top-left-radius: 0.5rem;
    text-align: center;
    border-top-right-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.95) !important;
    color: white !important;
    z-index: 10;
    height: 10%;
    /* opacity: 0.9; */

}

.panel-group {
    width: 63rem;
    height: 31rem;
    display: flex;
    justify-content: center;
    max-height: 34rem;

}

.panel-group .panel {
    margin-bottom: 0;
    border: 0.5rem solid black;
    height: 100%;
    width: 70%;
    border-radius: 1.5rem;
    max-width: 50rem;

}


div.inline {
    text-align: center;
    padding-top: 0.6rem;
    border: 1.5px solid #090909;
    border-radius: 0.1rem;
    background: linear-gradient(rgb(0,0,0),rgba(0,0,0,0.95),rgba(9, 9, 9, 0.95),rgba(0,0,0,0.95),rgb(0,0,0));
    opacity: 0.8;
}

div.inline:hover{
    opacity:1;
    align-items: center;
    cursor: pointer;
}



#roomdetails > img:nth-child(1) {
 height: 100%;
 width: 100%;
 background-color: rgba(0, 0, 0, 0.95);
 border-bottom-left-radius: 1rem;
}


#roomdetails {
    margin-bottom:0rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.95);
    border-bottom-left-radius: 1rem;
    border-right: 0.5rem solid rgba(0,0,0,0.95);
    padding: 0px 0px;

}

#detail {
    height: 90%;
    opacity: 0.95;
    margin-bottom:0rem;
    display:flex;
    justify-content: center;
    border-bottom-left-radius: 1rem;
    border-top: 0.5rem solid rgba(0,0,0,0.8);
    background: linear-gradient(rgba(0,0,0,0.95),rgba(39, 39, 39, 0.95),rgba(0,0,0,0.95));
}

#book {
    width: 80%;
    height: 100%; 
    display: flex;
    display: flex;
    justify-content: center; 
    align-items: center
}

form.col-sm-10 {
    margin: 0 auto;
    width: inherit;
    height: inherit; 
    padding: 1em 1em;
    background-color: rgba( 0 , 0 , 0 , 0.60 );
}


#select {
    height: 100%;
    opacity: 0.9;
    width: 100%;
    margin: 0px 0px;
    margin-bottom:0rem;
    background-color: black;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#htdet {
    display: flex;
    justify-content: center;
    padding: 0px 0.05rem;
}



.row {
    width:inherit;
    height: 10%;
    margin: 0px 0px;
}

.row #details {
    width: 50%;
    margin: 0px 0px;
    align-self: center;
    justify-self: center;
}

div .bttn {
    width: -moz-available;
    display: flex;
    justify-content: center;
}

#booked {
    height: auto;
    height: 3rem;
    align-self: center;
    display: flex;
}

.error {
    font-size: 0.9rem;
    color: red;
}

