<body>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class=" col-sm-10 justify-content-center align-items-center">
        <div class="col-sm-10" id="hdr">
          <div class="row justify-content-center align-items-center">
            <strong>Login</strong>
          </div>
        </div>
        <form class="col-sm-10" *ngIf=(!login) (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm" method="post">
          <div class="form-group">
            <label for="formGroupExampleInput2">
              <strong>Email</strong>
            </label>
            <input type="email" name="email" class="form-control" id="email-input" required formControlName="email" placeholder="Your email">
            <div *ngIf="loginForm.get('email').hasError('required')">
              Oops, please provide a name!
            </div>
            <div *ngIf="loginForm.controls.email.hasError('pattern')">
              Oops, wrong pattern buddy!
            </div>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">
              <strong>Password</strong>
            </label>
            <input type="password" name="pass" class="form-control" id="pass-input" required formControlName="pass" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="row justify-content-center">
              <button type="button" class="btn btn-dark" id="but" type="submit" [disabled]="loginForm.invalid">Submit</button>
            </div>
            <div id="login" *ngIf=(login)>
              Login Successfull, Welcome {{model.name}}!

            </div>
            <div id="loginerr" *ngIf=(loginerr)>
              {{error}}
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</body>