nav {
    height: 7vh;
    color: dimgray;
    border-bottom: 0.4vh solid rgb(29, 29, 29);

}

.bg-dark {
    background:linear-gradient( rgb( 0 , 0 , 0 ),rgb( 20 , 20 , 20 ),rgb( 0 , 0 , 0 )) !important;
}

.navbar-nav {
    width: 100%;
    display: flex;
}

#usr {
    justify-content: flex-end;
    display: flex;
}
.nav-link {
cursor: pointer;
}

.fa {
    padding: 0.2rem;

}